html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    display:flex;
    justify-content:center;
    height: 40%;
    width: 100%;
}
.social-image{
    justify-content:space-around;
    width: 50px;
    margin: 34px
}

html {
    background-color:pink;
    

}

.header{
    display:flex;
    justify-content:space-around;
}

.navbar {
    display:flex;
    justify-content:center;
    justify-content:space-around;
    
}

.footer {
    display: flex;
    justify-content:space-around;
    width: 100%; 
    height:100px;
    
}

.gallery {
    display: flex;
    justify-content:space-around;
}

.about {
  display:flex;
  justify-content:space-around;
  
}

.homeimage {
    height: 100%;
}
.aboutimage {
    height:100;
}
.aboutmain {
    display: flex;
    justify-content:space-around;
}

.leftPane {
    width:40%;
}

.rightPane {
    width:30%;
}