html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 100px;
    margin: 34px
}

html {
    background-color:pink;
    

}

.header{
    display:flex;
    justify-content:space-around;
}

.navbar {
    display:flex;
    justify-content:center;
    justify-content:space-around;
    
}

.footer {
    display: flex;
    justify-content:space-around;
    
}

.gallery {
    display: flex;
    justify-content:space-around;
}

.about {
  display:flex;
  justify-content:space-a